{% for i in underlay[inventory_hostname]["interfaces"]%}
    interface {{i}}
    ip address {{underlay[inventory_hostname]["interfaces"][i]["ipv4"]}}/{{underlay[inventory_hostname]["interfaces"][i]["mask"]}}
    
    # Adding the ip virtual router address for VARP 
    {%if i.startswith("vlan") and [inventory_hostname].startswith("spine")%}
    ip virtual-router address {{underlay[inventory_hostname]["interfaces"][i]["ipv4_vir"]}}
{%endfor%}
