
no spanning-tree vlan {{underlay[inventory_hostname]["MLAG"]["vlan"]}}

{%for i in underlay[inventory_hostname]["vlans"]%}
vlan {{underlay[inventory_hostname]["vlans"][i]["id"]}}
{%if 'trunkgroup' in underlay[inventory_hostname]["vlans"][i]%}
    trunk group {{underlay[inventory_hostname]["vlans"][i]["trunkgroup"]}}
{%endif%}
{%endfor%}

{#vlan {{underlay[inventory_hostname]["MLAG"]["vlan"]}}
    trunk group {{underlay[inventory_hostname]["MLAG"]["trunk_group"]}}#}

mlag configuration
    domain-id {{underlay[inventory_hostname]["MLAG"]["domain_id"]}}
    local-interface Vlan{{underlay[inventory_hostname]["MLAG"]["vlan"]}}
    peer-address {{underlay[inventory_hostname]["MLAG"]["peer_addr"]}}
    peer-link Port-Channel{{underlay[inventory_hostname]["MLAG"]["peer_link"]}}